*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0B0733;
}
.mae{
    position: absolute;
    display: block;
}
.Lista_navegação{
    position: fixed;
    background-color: #030117;
    display: block;
    margin-right: 85vw;
    height: 100vh;
    width: 15vw;
}
.Bloco_logo_nome{
    padding: 2%;
    display: block;
    margin-left: 5.2vw;
    cursor: pointer;
    width: 2vw;
}
.Logoheader{
    padding: 0.4%;
    position: absolute;
    margin-top: 0.65vh;
    margin-left: 4.6vw;
    cursor: pointer;
}
.Logoheader:hover{

}
h1{
    color: white;
}
.inicio{
    font-size: 25px;
    color: white;
    margin-top: 2vh;
    margin-left: 1vw;
    height: 4vh;
    cursor: pointer;
}
.inicio:hover{

}
.lista_de_album{
    cursor: pointer;
    text-decoration: white;
    color: white;
    margin-left: 1vw;
    line-height: 150%;
}
.lista_de_album ul li{
    list-style-type: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 40vh;
}
.lista_redes ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-top: 60vh;
    margin-left: 3.25vw;
    color: white;
    gap: 15%;
    cursor: pointer;
}
.search_block{
    position: absolute;
    width: 877px;
    height: 35px;
    left: 18vw;
    top: 4vh;

    background: rgba(31, 26, 92, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.search{
    position: absolute;
    width: 800px;
    height: 40px;
    left: 1vw;
    top: 0vh;
    font-size: 25px;
    color: white;
}
.caixa_texto{
    color: white;
    background-color: rgba(31, 26, 92, 0.8);
    border: 0px;
    width: 850px;
    height: 25px;
}
.caixa_video_total{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 60vh;
    margin-left: 18vw;
    margin-top: 20vh;
    justify-content: center;
}
.caixa_nome1{
    width: 263px;
    height: 50px;
    left: 18vw;
    top: 40vh;
    color: #FFFFFF;
}
.caixa_video1{
    box-sizing: border-box;
    width: 15vw;
    height: 16vh;
    left: 18vw;
    top: 20vh;
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/balaomagico.jpg);
    background-size: cover;
}
.caixa_video1:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome2{
    width: 263px;
    height:  50px;
    left: 36vw;
    top: 40vh;
    color: #FFFFFF;
}
.caixa_video2{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 36vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/backstreetboys.jpg);
    background-size: cover;
}
.caixa_video2:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome3{
    width: 263px;
    height: 50px;
    left: 54vw;
    top: 40vh;
    color: #FFFFFF;
    
}
.caixa_video3{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 54vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/greenday.jpg);
    background-size: cover;
}
.caixa_video3:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome4{
    width: 263px;
    height: 50px;
    left: 72vw;
    top: 40vh;
    color: #FFFFFF;
}
.caixa_video4{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 72vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/SimplePlan.jpg);
    background-size: cover;
}
.caixa_video4:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome5{
    width: 263px;
    height: 50px;
    left: 18vw;
    top: 70vh;
    color: #FFFFFF;
}
.caixa_video5{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 18vw;
    top: 50vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/custer.jpg);
    background-size: cover;
}
.caixa_video5:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome6{
    width: 263px;
    height: 50px;
    left: 36vw;
    top: 70vh;
    color: #FFFFFF;
}
.caixa_video6{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 36vw;
    top: 50vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/Starshopping.jpg);
    background-size: cover;
}
.caixa_video6:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome7{
    width: 263px;
    height: 50px;
    left: 54vw;
    top: 70vh;
    color: #FFFFFF;
}
.caixa_video7{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 54vw;
    top: 50vh;

    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/Hooligan.jpg);
    background-size: cover;

}
.caixa_video7:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_nome8{
    width: 263px;
    height: 50px;
    left: 72vw;
    top: 70vh;
    color: #FFFFFF;
}
.caixa_video8{
    box-sizing: border-box;

    width: 15vw;
    height: 16vh;
    left: 72vw;
    top: 50vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url(./imagem/thumbnail/Willhe.jpg);
    background-size: cover;
}
.caixa_video8:hover{
    width: 17vw;
    height: 19vh;
}
.caixa_video_total li{
    list-style: none;
}
.caixa_video_total_player li{
    list-style: none;
}

.caixa_nome_player1{
    position: absolute;
    padding-top: 2vh;
    padding-left: 2vh;
    width: 13vw;
    height: 10vh;
    left: 18vw;
    top: 53vh;
    color: #FFFFFF;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.caixa_video_letras_player1{
    box-sizing: border-box;

    position: absolute;
    width: 19vw;
    height: 51vh;
    left: 45vw;
    top: 20vh;

    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.letra1{
    position: absolute;
    width: 16.8vw;
    height: 42vh;
    left: 46vw;
    top: 23vh;

    font-weight: 400;
    line-height: 33px;
    text-align: center;
    font-size: 15px;

    color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
}
.caixa_video_letras_player2{
    box-sizing: border-box;

    position: absolute;
    width: 19vw;
    height: 51vh;
    left: 70vw;
    top: 20vh;

    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.letra2{
    position: absolute;
    width: 16.8vw;
    height: 42vh;
    left: 71vw;
    top: 23vh;

    font-weight: 400;
    line-height: 33px;
    text-align: center;
    font-size: 15px;

    color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
.caixa_video_player1{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/balaomagico.jpg);
    background-size: cover;
}
.caixa_video_player2{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/backstreetboys.jpg);
    background-size: cover;
}
.caixa_video_player3{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/greenday.jpg);
    background-size: cover;
}
.caixa_video_player4{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/SimplePlan.jpg);
    background-size: cover;
}
.caixa_video_player5{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/custer.jpg);
    background-size: cover;
}
.caixa_video_player6{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/Starshopping.jpg);
    background-size: cover;
}
.caixa_video_player7{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/Hooligan.jpg);
    background-size: cover;
}
.caixa_video_player8{
    box-sizing: border-box;

    position: absolute;
    width: 25vw;
    height: 30vh;
    left: 18vw;
    top: 20vh;
    
    background: rgba(31, 26, 92, 0.8);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-image: url(./imagem/thumbnail/Willhe.jpg);
    background-size: cover;
}
.caixa_musicplayer{
    position: absolute;
    display: block;
    width: 20%;
    height: 30%;
    top: 66vw;
    left: 18vh;
}
.lista_de_album a{
    transition: all 0.150s;
}
.lista_de_album a:hover{
    cursor: pointer;
    background-color: rgba(31, 26, 92, 0.8);
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 3px;
    padding-left: 10%;
}
.lista_de_album p{
    transition: all 0.150s;
}
.lista_de_album p:hover{
    cursor: pointer;
    background-color: rgba(31, 26, 92, 0.8);
    margin-right: 10%;
    border-radius: 3px;
    padding-left: 10%;
}